<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HomePage</title>
        <link rel="stylesheet" href="{% static "css/Bank.css"%}">
    </head>
    <body>
        <div align="center">
            <div >
                <h1>Bank Form..!!</h1>
                <hr />
                <p>Up-to-date Bank details..!!</p>
                <a href="/addBank/" >Add-Bank</a>
                <a href="/listBank/" >List-Bank</a>
            </div>
        </div>
    </body>
</html>